.card-service {
    width: 22.5rem;
    min-width: 22.5rem;

    //анимация
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.7s ease;

    &__controls {
        display: flex;
        gap: 8px;
    }

    &__description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: var(--spacer-2xs) 0 var(--spacer-xs);
        color: var(--p-neutral-300);
        user-select: none;
    }

    &__tags {
        display: flex;
        gap: var(--spacer-2xs);
        flex-wrap: wrap;
        align-items: start;
        align-content: flex-start;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        margin: var(--spacer-sm) 0;
        color: var(--p-lime-200);
    }

    //анимация
    &.zoom-in {
        opacity: 1;
        transform: scale(1);
    }

    @media (--screen-xs) {
        width: 100%;
        min-width: 0;

        &__description {
            margin-top: 0;
            font-size: 10px;
        }

        &__tags {
            gap: var(--spacer-2xs);
            align-content: flex-start
        }

        &__price {
            margin: var(--spacer-xs) 0 0;
            font-weight: 600;
        }

        &__controls {
            display: none;
        }
    }
}