.card-service {
    width: 22.5rem;
    min-width: 22.5rem;

    //анимация
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.7s ease;

    &__controls {
        display: flex;
        gap: 8px;
    }

    &__description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        margin-top: 6px;
        color: var(--p-lime-200);
    }

    &__icon {
        display: none;
    }

    //анимация
    &.zoom-in {
        opacity: 1;
        transform: scale(1);
    }

    @media (--screen-xs) {
        width: 100%;
        min-width: 0;

        &__description {
            display: none;
        }

        &__price {
            margin-top: 0;
            font-size: 18px;
            font-weight: 600;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background: var(--p-neutral-50);
            border-radius: 50%;
            box-shadow: var(--shadow-soft);

            &--details {
                position: absolute;
                top: 12px;
                left: 12px;
            }
        }

        &__controls {
            display: none;
        }

        &__controls--mobile {

        }
    }
}