.contacts-map-section {
    display: flex;
    box-shadow: var(--shadow-soft);
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    background-color: var(--body-bg);

    @media (--screen-xs) {
        flex-direction: column;
    }
}