.footer {
    width: 100%;
    background: var(--footer-bg);
    border-top: 1px solid var(--border-color);
    box-shadow: var(--shadow-inner-top);

    &__content {
        padding: var(--spacer-xl) 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacer-xl);
    }

    &__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__inn,
    &__nav-links {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        font-weight: 400;
        line-height: 1.4;
        font-size: 14px;
    }

    &__nav-links {
        align-items: flex-end;
    }

    &__nav-link {
        color: var(--link-color);
    }

    @media (--screen-xs) {
        box-shadow: var(--shadow-inner-top);
        padding-bottom: env(safe-area-inset-bottom);

        &__content {
            padding: var(--spacer-md) 0;
            gap: var(--spacer-md);
        }
    }
}