.header {
    background-color: var(--header-bg);
    position: sticky;
    top: 0;
    z-index: 4;
    padding-top: var(--spacer-ml);
    margin-bottom: var(--spacer-ml);

    &::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 100%;
        height: 20px;
        background: linear-gradient(to bottom, var(--header-bg), transparent);
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
        width: 100%;
        max-width: 92rem;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        flex-direction: column;
    }

    &__navigation {
        display: flex;
        flex-direction: column;
    }

    &__navigation-item {
        width: 100%;

        & .button {
            width: 100%;
            justify-content: flex-start
        }
    }

    &__logo {
        display: flex;
        justify-content: center;

        svg {
            color: var(--header-color);
            stroke-width: 2.5;
            width: 100%;
            max-width: 200px;
            height: 100%;
            max-height: 80px;
        }
    }

    @media (--screen-xs) {
        padding-top: var(--spacer-md);

        &__container {
            grid-template-columns: 1fr 1fr 1fr;
            padding-bottom: var(--spacer-2xs);
        }

        &__burger {
            display: block;
        }

        &__logo svg {
            display: none;
        }
    }
}
