.input {
    background: var(--body-bg);
    border: 1px solid var(--p-salmon-300);
    color: var(--text-color);
    box-shadow: var(--shadow-soft);
    padding: var(--spacer-xs);
    border-radius: 8px;
    width: 100%;

    &--sm {
        height: 52px;
        padding: var(--spacer-md) var(--spacer-lg);
    }

    &--rounded {
        border-radius: 32px;
    }

    &::placeholder {
        font-weight: 300;
    }

    &.invalid {
        border: 1px solid var(--base-red);
    }

    &:focus {
        outline: none;
        border-color: var(--p-salmon-300);
    }

    &:hover {
        border-color: var(--p-salmon-200);
    }

    @media (--screen-xs) {
        &--sm {
            height: 46px;
        }
    }
}