.map-location-items {
    display: flex;
    flex-direction: column;

    &__location {
        display: flex;
        flex-direction: column;
        padding: var(--spacer-md) var(--spacer-xl);
        gap: var(--spacer-xs);
        background: var(--body-bg);
    }

    &__location-title {
        font-size: 18px;
        font-weight: 500;
    }

    &__location-address span {
        font-weight: 400;
        line-height: 1.5;
        font-size: 13px;
        color: var(--p-neutral-300);
    }

    & .pi {
        font-size: 20px;
        margin-right: var(--spacer-2xs);
        color: var(--p-neutral-400);

        &.pi-map-marker {
            margin-right: var(--spacer-sm);
        }
    }

    & .pi-phone,
    & .pi-globe {
        font-size: 18px;
    }

    &__location-contacts,
    &__location-website-content,
    &__location-phones-content {
        display: flex;
        gap: var(--spacer-xs);
    }

    &__location-contacts {
        flex-direction: column;
        gap: var(--spacer-xs);
        margin-bottom: var(--spacer-2xs);
    }

    &__location-phones {
        display: flex;
        flex-direction: column;
    }

    &__location-website,
    &__location-phone {
        font-size: 14px;
        color: var(--link-color);
        white-space: nowrap;
    }

    @media (--screen-xs) {
        &__location {
            padding: var(--spacer-xs) var(--spacer-sm);
            gap: var(--spacer-2xs);

            &:last-of-type {
                padding-bottom: var(--spacer-sm);
            }
        }

        & .pi {
            margin-right: var(--spacer-2xs);
        }
    }
}