.p-card {
    box-shadow: var(--shadow-soft);
    border-radius: 24px;
    overflow: hidden;

    & .p-card-header {
        position: relative;
        height: 360px;

        & img {
            width: 100%;
            object-fit: cover;
        }
    }

    & .p-card-body {
        gap: 12px;
        height: 100%;
    }

    & .p-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-weight: 300;
        line-height: 1.5;
        font-size: 16px;
    }

    & .p-card-footer {
        margin-top: auto;
    }

    @media (--screen-xs) {
        border-radius: 16px;

        & .p-card-header {
            height: 150px;
        }

        & .p-card-body {
            gap: 0;
            padding: var(--spacer-xs) var(--spacer-sm);
        }

        & .p-card-title {
            font-size: 15px;
            font-weight: 500;
        }

        & .p-card-content {
            margin-top: var(--spacer-2xs);
            font-size: 14px;
            font-weight: 400;
            justify-content: flex-end;
        }
    }

    // dark mode
    .dark-mode & {
        & .p-card-header img {
            opacity: 0.7;
        }
    }
}