.p-dialog {
    padding: var(--spacer-lg);
    max-width: 90%;

    @media (--screen-xs) {
        height: 100%;
        width: 100% !important;
        max-height: 100%;
        max-width: 100%;
        padding: var(--spacer-xs);
        justify-content: center;

        & .p-dialog-content {
            display: flex;
            align-items: flex-start;
        }
    }
}