.page-admin {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;

    &__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-height: 0;
        padding-bottom: var(--spacer-xl);

        > *:last-child {
            flex: 1;
            min-height: 0;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacer-xs) 0;
    }

    &__reviews-title {
        margin-bottom: var(--spacer-sm);
        font-size: 26px;
        font-weight: 500;
    }

    &__reviews-table-review-title {
        margin-bottom: var(--spacer-sm);
        font-size: 16px;
        font-weight: 500;
    }

    &__reviews-table-actions {
        display: flex;
        gap: var(--spacer-xs);
    }
}

.page-reviews-pending,
.page-reviews-approved {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;

    &__table {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-height: 0;
    }
}
