.page-service {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacer-xl);

    &__content {
        display: flex;
        background: var(--bg-service-card);
        padding: var(--spacer-xs);
        border-radius: 16px;
        box-shadow: var(--shadow-soft);
        margin-bottom: var(--spacer-xl);

        & img {
            width: 40%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 10px;
            opacity: var(--opacity);
        }
    }

    &__info {
        margin-left: var(--spacer-2xl);
        margin-top: var(--spacer-lg);

        & h1 {
            font-size: 26px;
            font-weight: 500;
            margin-bottom: var(--spacer-xs);
        }

        & > p {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: var(--spacer-lg);
        }

        &-details {
            display: flex;
            flex-direction: column;
            gap: var(--spacer-2xs);
            margin-bottom: var(--spacer-ml);
        }

        &-tags {
            display: flex;
            gap: var(--spacer-xs);
            flex-wrap: wrap;
            align-items: start;
            align-content: flex-start;
        }

        &-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            font-weight: 600;
            line-height: 1;
            margin: var(--spacer-xl) 0;
            color: var(--p-lime-200);
        }
    }

    &__controls {
        margin-top: auto;
    }

    @media (--screen-xs) {
        margin-bottom: var(--spacer-ml);

        &__content {
            flex-direction: column;
            margin-bottom: var(--spacer-md);

            img {
                width: 100%;
                height: 220px;
            }
        }

        &__info {
            margin: var(--spacer-xs) var(--spacer-2xs);

            h1 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 0;
            }

            & > p {
                font-size: 12px;
                font-weight: 400;
                margin-bottom: var(--spacer-xs);
            }

            &-details {
                gap: 0;
                margin-bottom: var(--spacer-xs);
            }

            &-detail {
                font-size: 14px;
            }

            &-price {
                font-size: 18px;
                margin: var(--spacer-md) 0;
            }
        }
    }
}