.page-admin {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__reviews-title {
        margin-bottom: var(--spacer-sm);
        font-size: 26px;
        font-weight: 500;
    }

    &__reviews-table-review-title {
        margin-bottom: var(--spacer-sm);
        font-size: 16px;
        font-weight: 500;
    }

    &__reviews-table-actions {
        display: flex;
        gap: var(--spacer-xs);
    }
}